{
	"root": true,
	"ignorePatterns": [
		"dist",
		"node_modules",
		"src/version.ts",
		"server",
		".gitignore",
		"coverage",
		"src/transport/api.ts"
	],

	"extends": [
		"strictest/eslint",
		"strictest/promise",
		"strictest/typescript-eslint",
		"strictest/unicorn",
		"eslint:recommended",
		"plugin:vitest/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:import/recommended",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"prettier",
		"unicorn",
		"promise",
		"deprecation",
		"@typescript-eslint",
		"import",
		"vitest",
		"file-progress"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.prod.json",
		"tsconfigRootDir": "."
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"node": true,
			"typescript": {
				"alwaysTryTypes": true,
				"project": ["./tsconfig.prod.json", "./tsconfig.test.json"]
			}
		}
	},
	"rules": {
		"file-progress/activate": 1,
		"deprecation/deprecation": "warn",
		"prettier/prettier": "warn",
		"no-constant-condition": "warn",
		"no-console": "error",
		"no-dupe-else-if": "warn",
		"consistent-return": "off", // TS handles this
		"no-duplicate-imports": "off", // eslint-plugin-import handles this
		"import/no-duplicates": "error",
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/consistent-type-assertions": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/require-await": "warn",
		"@typescript-eslint/no-inferrable-types": "off",
		"@typescript-eslint/no-invalid-void-type": "off", // TODO: Should be "error", but some bugs exist
		"@typescript-eslint/explicit-member-accessibility": [
			"error",
			{ "accessibility": "no-public", "overrides": { "properties": "off" } }
		],
		"@typescript-eslint/explicit-function-return-type": [
			"error",
			{ "allowConciseArrowFunctionExpressionsStartingWithVoid": true }
		],
		"@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
		"@typescript-eslint/array-type": ["warn", { "default": "generic" }],
		"@typescript-eslint/dot-notation": "off",
		"@typescript-eslint/consistent-type-imports": "warn",
		"@typescript-eslint/no-dynamic-delete": "off",
		"new-cap": "off", // Many decorators do not follow normal function conventions
		"unicorn/catch-error-name": ["warn", { "name": "error" }],
		"unicorn/numeric-separators-style": "warn",
		"unicorn/no-unused-properties": "warn"
	},

	"overrides": [
		{
			"files": ["./*.ts", "src/**/*.test.ts", "tests/**/*.ts", "**/__mocks__/**/*.ts"],
			"extends": ["plugin:prettier/recommended"],
			"plugins": ["prettier", "@typescript-eslint"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"project": "./tsconfig.test.json",
				"tsconfigRootDir": "."
			},
			"rules": {
				"max-nested-callbacks": "off" // Unit tests involve a lot of nested callbacks
			}
		},
		{
			"files": ["scripts/**/*.ts"],
			"parserOptions": {
				"project": "./tsconfig.test.json",
				"tsconfigRootDir": "."
			},
			"rules": {
				"unicorn/no-process-exit": "off"
			}
		}
	]
}
