//
//  Import and use:
//
//  <style scoped lang="scss">
//  @use "styles/colors" as *;
//  ...
//  color($<colorName>)
//  ...
//
//  To add or change a color:
//
//  1. Name it. SASS variables ensure we always use the right names,
//      else things don't compile! :)
//  2. Define its default (light) appearance using CSS varables in root.scss
//  3. Define its themed (dark) appearance in our @media query.
//  4. ???
//  5. Profit
//

//  -- Named Color Keys --

// Backgrounds
$background: background;
$secondary-background: secondary-background;
$secondary-overlay: secondary-overlay; // Like background, with a bit of transparency
$navbar-background: navbar-background;
$sidenav-background: sidenav-background;
$unread-count: unread-count;
$alert-info: alert-info;
$alert-success: alert-success;
$alert-warning: alert-warning;
$alert-failure: alert-failure;
$status-success: status-success;
$status-warning: status-warning;
$new-item-background: new-item-background;
$onboard-admin-blue: onboard-admin-blue;
$onboard-admin-green: onboard-admin-green;
$onboard-admin-yellow: onboard-admin-yellow;

// Buttons
$button-background: button-background;
$button-border: button-border;
$send-button: send-button;

// Text
$label: label;
$label-code: label-code;
$label-light: label-light; // A label that retains its dark contrast against a light background
$label-dark: label-dark; // A label that retains its light contrast against a dark background
$secondary-label: secondary-label;
$secondary-label-dark: secondary-label-dark; // A label that retains its contrast against a dark background
$control-label: control-label; // a slightly lighter label color for controls
$text-field: text-field;
$input-background: input-background;
$inverse-label: inverse-label;
$search-field: search-field;
$link: link;
$link-hover: link-hover;

// Separators and accents
$separator: separator;
$medium-separator: medium-separator;
$subtle-separator: subtle-separator;
$subtle-separator-dark: subtle-separator-dark;
$fill: fill; // appropriate for filling thin and small shapes, such as the track of a slider.
$secondary-fill: secondary-fill; // appropriate for filling medium-size shapes, like a control background.
$sidenav-glow: sidenav-glow;
$heavy-shadow: heavy-shadow;
$item-shadow: item-shadow;
$new-item-border: new-item-border;
$tab-item: tab-item;

// Grayscale
$black: black;
// $gray-100: gray-100;
// $gray-200: gray-200;
// $gray-300: gray-300;
// $gray-400: gray-400;
// $gray-500: gray-500;
// $gray: gray;
// $gray-600: gray-600;
// $gray-700: gray-700;
// $gray-800: gray-800;
// $gray-900: gray-900;
$white: white;

// Grayscale from light mode
// $gray-100-light: gray-100;
// $gray-200-light: gray-200;
// $gray-300-light: gray-300;
// $gray-400-light: gray-400;
// $gray-500-light: gray-500;
// $gray-light: gray;
// $gray-600-light: gray-600;
// $gray-700-light: gray-700;
// $gray-800-light: gray-800;
// $gray-900-light: gray-900;

// Grayscale from dark mode
// $gray-100-dark: gray-100;
// $gray-200-dark: gray-200;
// $gray-300-dark: gray-300;
// $gray-400-dark: gray-400;
// $gray-500-dark: gray-500;
// $gray-dark: gray;
// $gray-600-dark: gray-600;
// $gray-700-dark: gray-700;
// $gray-800-dark: gray-800;
// $gray-900-dark: gray-900;

// Simple Colors
$blue: blue;
$blue-transparent: blue-transparent;
$green: green;
$green-transparent: green-transparent;
$orange: orange;
$red: red;
$yellow: yellow;
$purple: purple;
$gray-highlight: gray-highlight;
$blue-highlight: blue-highlight;
$green-highlight: green-highlight;
$red-highlight: red-highlight;

// Transparent options
$clear: clear;
$transparent: clear;
$transparent-white: clear;
$transparent-black: clear;
$transparent-gray: transparent-gray;

// Go to root.scss to define the color values

// Get the named color with the proper theme.
@function color($colorName) {
	@return var(--#{$colorName});
}
