@use "styles/colors" as *;

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 8pt 16pt;
	background-color: color($secondary-background);

	p {
		color: color($secondary-label);
		margin: 0;
	}

	aside {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		.icon {
			margin-bottom: 5pt;
		}
	}

	.icon {
		color: color($label);
	}
}
